main {
    width: 100%;
    margin: 0 auto;
    max-width: 720px;
    min-height: 100vh;
    height: 100%;
    margin-top: 70px;
}

main img {
    width: 150px;
    height: 200px;
}

table {
    width: 100%;
}

tr {
    border-bottom: solid 1px #00000052;
    margin: 20px;
}

td {
    padding: 20px;
}

/****************** Footer styles *******************/
footer {
    /* position: fixed; */
    /* bottom: 0; */
}