*{
	/* Universal reset: */
	margin:0;
	padding:0;
}

html {
    background-attachment: fixed;
    background-color: white;
}

body{
    font-size:0.825em;
    color:#121819;
    /* width: 200%; */
    background-color: #ffffff;
    font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto",
				"Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
}

/****************** Navitagion styles *******************/

/******************* Header styles *******************/
header {
    background-color: white;
    text-align: center;
    /* border-bottom: solid black; */
    padding-top: 20px;
}

a {
	text-decoration: none;
}

h2 {
    color: #424242;
    letter-spacing: 13px;
    /* transform: scaleY(.9); */
    /* letter-spacing: -2px; */
    font-weight: 500;
    /* transform: scaleY(2); */
    text-transform: uppercase;
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    border-bottom: solid black;
    width: 100%;
    background-color: #ffffff;
}

.sticky ul {
    position: fixed;
    top: 0;
    left: 0;
}

#searchButton{
    background: none;
    border: none;
    float: right;
    height: 30px;
    margin-bottom: 8px;
    right: 95px;
    /* top: 13px; */
    position: fixed;
}

#user {
    z-index: 2;
    right: -220px;
    width: 300px;
    top: 10px;
}

#cart {
    height: 20px;
}

/******************* Header styles (responsive) *******************/

.topnav {
  overflow: hidden;
  background-color: #fff;
  z-index: 2;
  margin-bottom: 4px;
  border-bottom: solid black;
}

.topnav a {
  float: left;
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14px;
  /* color: black; */
  text-align: center;
  /* display: block; */
  /* padding: 0 2em; */
  /* height: 20px; */
  text-transform: uppercase;
  letter-spacing: 8px;
  /* text-decoration: none; */
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 1070px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {display: none;}
  .topnav a.icon 
  {
    float: right;
    display: block;
    position: absolute;
    right: 0;
  }
  
}

@media screen and (max-width: 1070px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}



@media screen and (max-width: 1000px) {
  .topnav.responsive.sticky {position: fixed;display: inline-table;}
  .topnav.responsive.sticky .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive.sticky a {
    float: none;
    display: block;
    text-align: left;
    background-color: white;
    display: hidden;
  }
  .topnav.responsive.sticky .dropdown {float: none;}
  .topnav.responsive.sticky .dropdown-content {position: relative;}
  .topnav.responsive.sticky .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}







.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;    
  border: none;
  outline: none;
  color: black;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: fixed;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  color: black;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
    width: 280px;   
  
}


.fa-caret-down:before {
    content: "\f0d7";
    vertical-align: center;
    top: 12px;
    position: relative;
}

hr {
    height: 2px;
    color: solid black;
    /* display: block; */
    /* height: 1px; */
    margin-top: 3px;
    /* border: 0; */
    border-color: black;
    border-style: solid;
    background-color: black;
}

/************* new search styles *******************/
#home {
    display: inline-block;
}

#content {
  position: absolute;
  /* height: 50px; */
  width: 0px;
  margin-top: 21px;
  /* top: 50%; */
  float: right;
  height: 30px;
  margin-bottom: 8px;
  right: 95px;
  display: inline;
  /* top: 10px; */
  /* position: fixed; */
  background: none;
  border: none;
  border-bottom: solid;
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
}

#cart {
  position: absolute;
  /* height: 50px; */
  width: 0px;
  margin-top: -2px;
  /* top: 50%; */
  float: right;
  height: 30px;
  margin-bottom: 8px;
  right: 60px;
  display: inline;
  /* top: 10px; */
  /* position: fixed; */
  background: none;
  border: none;
  /* border-bottom: solid; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
}

#content.on {
  -webkit-animation-name: in-out;
  animation-name: in-out;
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.input {
  box-sizing: border-box;
  width: 15px;
  height: 15px;
  border: 2px solid black;
  border-radius: 50%;
  background: none;
  color: black;
  font-size: 16px;
  font-weight: 400;
  font-family: Roboto;
  outline: 0;
  -webkit-transition: width 0.4s ease-in-out, border-radius 0.8s ease-in-out, padding 0.2s;
  transition: width 0.4s ease-in-out, border-radius 0.8s ease-in-out, padding 0.2s;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
  -webkit-transform: translate(-100%, -50%);
  -ms-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}

.search {
  background: none;
  position: absolute;
  top: 0px;
  /* left: 20px; */
  height: 25px;
  width: 25px;
  padding: 0;
  border-radius: 100%;
  outline: 0;
  border: 0;
  color: inherit;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  -webkit-transform: translate(-100%, -50%);
  -ms-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}

.search:before {
  content: "";
  position: absolute;
  width: 11px;
  height: 5px;
  background-color: black;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-top: 7px;
  margin-left: 7px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.close {
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

.close:before {
  content: "";
  position: absolute;
  width: 11px;
  height: 2px;
  margin-top: -1px;
  margin-left: -13px;
  background-color: black;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.close:after {
  content: "";
  position: absolute;
  width: 11px;
  height: 2px;
  background-color: black;
  margin-top: -1px;
  margin-left: -13px;
  cursor: pointer;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.square {
  box-sizing: border-box;
  padding: 0 40px 0 10px;
  width: 200px;
  height: 30px;
  border: none;
  border-bottom: solid black;
  border-radius: 0;
  background: none;
  color: black;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  outline: 0;
  /* margin-left: 20px; */
  -webkit-transition: width 0.4s ease-in-out, border-radius 0.4s ease-in-out, padding 0.2s;
  transition: width 0.4s ease-in-out, border-radius 0.4s ease-in-out, padding 0.2s;
  -webkit-transition-delay: 0.4s, 0s, 0.4s;
  transition-delay: 0.4s, 0s, 0.4s;
  -webkit-transform: translate(-100%, -50%);
  -ms-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}

/* input fields */

input {
	width: 100%;
	height: 40px;
	/* margin: auto; */
	/* margin: 19px 0; */
}


.submit {
	background: linear-gradient(132deg, #bae0e363, #f17b914a), white;
	background-size: 400% 10%;
	background: #000000;
	animation: BackgroundGradient 30s ease infinite;
	color: white;
	/* border: solid black 1px; */
	/* width: 202px; */
	border: none;
	/* height: 66px; */
	bottom: 0px;
	/* right: -79px; */
	position: relative;
	font-weight: 700;
	text-transform: uppercase;
}

