#mainSignIn {
	/*background-color: rgba(186, 212, 255, .5);*/
	background-color: rgba(255, 255, 255, 0.85);
	padding: 4.5em;
	margin: auto;
	max-width: 400px;
	color: #45494f;
	z-index: -1;
	letter-spacing: 1px;
	border: solid black 1px;
	box-shadow: 36px 10px #b0b0b029;
	shape-outside: border-box;
	height: 500px;
}

input[type=text].signin, input[type=password].signin  {
	width: 100%;
	display: inline-block;
	border: none;
	border-bottom: 2px solid black;
	font-size: 1.2em;
	
	padding: 1.5em;
	letter-spacing: 1px;
  }
  


main {
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
    min-height: 100vh;
    margin-top: 70px;
    height: 100%;
}