/*main styles*/

main {
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    max-width: 720px;
    min-height: 100vh;
    height: 100%;
    margin-top: 70px;
    text-align: center;
}


/*table styles*/

table img {
    width: 150px;
    height: 200px;
}

table {
    width: 100%;
}

tr {
    border-bottom: solid 1px #00000052;
    margin: 20px;
}

td {
    padding: 20px;
}


table.reflow {
    width: 100%;
}
.cell-label {
    display: none;
}
@media screen and (max-width: 480px) {

    .reflow th {
        display: none;
    }

    .reflow tr td {
        clear: left;
        text-align: left;
        display: block;
        width: 100%;
    }

    .reflow tr td:last-child {
        padding-bottom: 20px;
        border-bottom: 0;
    }

    .cell-label {
        display: block;
    }
    .cell-content {
        display: block;
    }
}


/* shared styles */

input[type=text] {
    padding: 1.5em;
    letter-spacing: 1px;
}


/* search form styles */

.searchInput{
	width: 40%;
}

input[type=text].searchInput, input[type=number] {
    /* display: inline-block;
    border: none;
    border-bottom: 2px solid black; */
    /* font-size: 1.2em; */

    padding: 1.5em;
    letter-spacing: 1px;
}

.searchButton,.categoryMaintenance {
    width: 100px;
    background: #000000;
    color: white;
}


/* item maintenance */

.mainForm input {
    max-width: 200px;
    width: 100%;
	height: 40px;
}

#addNewItem {
    color: black;
    letter-spacing: 1px;
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    /* float: right; */
}

#addNewItem {
    text-align: right;
    /* border-bottom: none; */
    /* background-color: bisque; */
}

#addNewItem img{
    height: 8px;
    width: 8px;
    transform: translateY(-28%);
}


/* category maintenance */

.categoryMaintenanceForm input[type=text] {
    width: 70%;
}


/* pagination test */
.page {
    display: none;
}

.page-active {
    display: block;
}