/* menu styles */
.categories {    
    text-align: center;
    position: relative;
    height: 70vh;
    transform: translatey(25%);
}

.container {
    position: relative;
    width: 180px;
    margin: 5px;
    display: inline-block;
  }

  .container img {      
    width: 100%;
  }
  
  #adminSignIn {
	/*background-color: rgba(186, 212, 255, .5);*/
	background-color: rgba(255, 255, 255, 0.85);
	padding: 4.5em;
	margin: auto;
	max-width: 400px;
	color: #45494f;
	z-index: -1;
	letter-spacing: 1px;
	border: solid black 1px;
	box-shadow: 36px 10px #b0b0b029;
	shape-outside: border-box;
	height: 500px;
}

h6 {
  color: black;  
	letter-spacing: 1px;
}
