.categories {    
    text-align: center;
    position: relative;
    height: 70vh;
    transform: translatey(25%);
}

.container {
    position: relative;
  /*   text-align: center;
    color: white;
    display: inline-block; */

    width: 180px;
    /* float: left; */
    /* clear: right; */
    margin: 5px;
    display: inline-block;
  }

  .container img {      
    /* max-height: 180px;
    height: 100%;  
    max-width: 180px; */
    width: 100%;
  }
/*   
  .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

.overlay:hover {
    background-color: 
} */

  #adminSignIn {
	/*background-color: rgba(186, 212, 255, .5);*/
	background-color: rgba(255, 255, 255, 0.85);
	padding: 4.5em;
	margin: auto;
	max-width: 400px;
	color: #45494f;
	z-index: -1;
	letter-spacing: 1px;
	border: solid black 1px;
	box-shadow: 36px 10px #b0b0b029;
	shape-outside: border-box;
	height: 500px;
}
